@page
@model HW_23.Pages.Cart.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
</head>
<body>

    @if ((TempData["ErrorMessage"]) != null)
    {
        <div class="alert alert-error text-center" style="margin-top:78px; width:100%; display:flex; justify-content:flex-end; ">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="cart-box">


        <table>
            <thead>
                <tr>
                    <th>PRODUCT</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>
                            <img src="@item.ProductImagePath" class="product-img">
                            @item.ProductName
                        </td>
                        <td>$@item.UnitPrice</td>
                        <td>
                            <div class="qty-box">

                                <a asp-page-handler="Reduct" asp-route-productId="@item.ProductId"><button>-</button></a>
                                <input type="number" value="@item.Count" readonly>
                                <a asp-page-handler="Add" asp-route-productId="@item.ProductId"><button>+</button></a>

                            </div>
                        </td>
                        <td>$ @item.TotalPrice</td>

                        <td class="remove-col">
                            <a asp-page-handler="ClearItem" asp-route-productId="@item.ProductId"><button type="submit" class="btn-remove">×</button></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div class="actions">
            <a asp-page-handler="CheckOut"><button class="btn">Checkout</button></a>
        </div>
        <div class="message-box">
            <p>
                @Model.Message
            </p>
        </div>
    </div>


</body>
</html>

